.project-block {
  display: flex;
  flex-direction: column;
  gap: 4rem;

}

.project-cell {
  display: flex;
  gap: 0.5rem;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.project-cell:hover {
  background-color: rgba(76, 175, 80, 0.2);

  .project-link {
    color: aqua;
  }

  .arrow {
    margin-top: -3px;
        margin-left: 5px;
  }
}

.left-section {
  width: 30%;
  overflow-x: hidden;
}

.right-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
}

.project-link {
  display: flex;
}

img {
  flex: 1;

  width: 120px;
  height: 100%;
  overflow: hidden;
}

.arrow {
  width: 1rem;
  margin-left: 1px;
  margin-top: 2px;
  transition: margin .2s;
}
