.main {
  height: 100vh;
  background: #00021a;
  /* background: radial-gradient(circle at center, #00021a, #2603b3); */
  overflow: hidden;
  display: flex;
  justify-content: center;
  font-weight:100;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: rgb(148 163 184);
}

.content {
  display: flex;
  color: white;
  overflow: hidden;
  top: 50px;
}

.menu-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  top: 50px;
}

.information-section {
  width: 50%;
  overflow-y: scroll;
  margin-top: initial;
  /* margin-top: 50px;
    margin-bottom: 50px; */
  display: flex;
  flex-direction: row;
  top: 50px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .menu-section {
    display: none;
  }

  .information-section {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 70px;
  }
}
