.header {
  color: white;
  padding: 20px;
  transition: all 0.3s ease;
  position: absolute; /* Change to sticky instead of fixed */
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  display: none;
}

@media (max-width: 768px) {
  .header {
    display: flex;
  }
}
