.experience-block {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  cursor: pointer;
  list-style: none;
}

.experience-cell {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgba(76, 175, 80, 0);
}

.experience-cell:hover {
  background-color: rgba(76, 175, 80, 0.2);
}

.experience-cell-left-section {
  width: 30%;
}

.experience-cell-right-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
}

.skill-block {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  
}

.skill-cell {
  margin-right: 0.375rem;
  color: rgb(94 234 212);
  background-color: rgb(19 78 74);
  border-radius: 2rem;
  padding: 5px 10px;
  font-weight: 500;
  white-space: nowrap;
  margin-bottom: .2rem;
}

.company-link {
  display: flex;
}

.arrow {
  width: 1rem;
  margin-left: 1px;
  margin-top: 2px;
  transition: margin 0.2s;
}

.experience-block:hover {
  .company-link {
    color: aqua;
  }
  .arrow {
    margin-top: -3px;
    margin-left: 5px;
  }
}

.cv-link:hover {
  color: aqua;
}
